#webflow
    min-height: 100vh
    .box
        h1
            font-weight: 700
            font-size: 65px
            color: #ffbf00
            margin: 150px 0 70px
        input
            height: 62px
            border: 3px solid #ffA500
            border-radius: 10px
            font-size: 20px
            margin-bottom: 40px
        .btn
            background-color: #ffff
            border: 2px solid #17202a
            width: 60px
            border-radius: 10px
            font-size: 18px
            h4
                cursor: pointer
            &:hover
                background-color: #d5d8dc
                cursor: pointer
        .minibox
            width: 250px
            margin-top: 40px
            background-color: #ffff
            border-radius: 5px
            h2
                font-size: 30px
                border: 2px solid #5d6d7e
                margin: 10px
                padding: 8px 10px
                border-radius: 5px
                word-wrap: break-word


        