#webflow
    padding: 120px 0
    .box
        background-color: #6b705c
        padding: 40px
        border-radius: 10px
        width: 270px
        h1
            font-size: 55px
            font-weight: 700
            color: #ffbd00 
            margin-bottom: 65px      
        input
            height: 56px
            border: 3px solid #8a817c
            border-radius: 10px
            font-size: 20px
            margin-bottom: 40px
        .btn
            background-color: #ffff
            border: 2px solid #bb9457
            width: 60px
            border-radius: 10px
            font-size: 18px
            h4
                cursor: pointer
            &:hover
                background-color: #d5d8dc
                cursor: pointer
        .minibox
            width: 230px
            margin-top: 50px
            background-color: #ffff
            border-radius: 5px
            h2
                font-size: 25px
                border: 2px solid #5d6d7e
                margin: 10px
                padding: 5px
                border-radius: 5px
                word-wrap: break-word


        